body {
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    line-height: 1;
    background-color: rgb(255, 255, 255);
}

h3 {
    margin-bottom: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: rgb(247, 247, 247);
    width: 100vw;
    height: 100px;
}

.nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 100vh;
    height: 50px;
    
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.2rem;
}

.navigation a:hover {
  color: white;
  transition: color 250ms ease-out;
  text-decoration: underline;
}

.navigation a:active {
  color: #9428d6;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    min-height: 50%;
    flex-grow: 1;

}

.form {
    display: flex;
    flex-direction: column;;
    align-items: center;
    gap: 10px;
}

.labelInput {
    display: flex;
    justify-content: space-between;
    width: 250px
}

.labelInput input {
    width: 150px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
}